# Laravel Outputs
.phpunit.cache
.phpactor.json
.phpunit.result.cache
auth.json
public/build
public/hot
public/storage
storage/*.key
storage/pail
vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Environment
.env
.env.*
!.env.d.ts
!.env.example

# Dependencies
node_modules
package.json.*

# Testing
__tmp__
coverage/
tmp/

# Logs
*.log
logs

# IDE
.vscode/*
.idea
!.vscode/extensions.json
!.vscode/settings.json

# System Files
.DS_Store
*.pem

# Workspace Files
*.todo
