NODE_ENV=development

# runtime
HOST=0.0.0.0
PORT=3000

# next
NEXT_PUBLIC_NAME=Meza
NEXT_PUBLIC_URL="http://$HOST:$PORT"

# better-auth (openssl rand -base64 32)
AUTH_SECRET=

# prisma
DATABASE_URL=postgresql://user:pass@127.0.0.1:5432/app?schema=public

# github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# resend
RESEND_FROM=hi@azem.tech
RESEND_TOKEN=
